@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* navbar */
.navbar {
  width: 100%;
}

.container-fluid {
  margin-left: 71px;
}
.navbar-brand {
  display: flex;
  width: 326px;
  height: 43px;
  flex-direction: column;
  margin-left: 10.64px;
  color: #02542d;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.navbar-nav {
  display: flex;
  margin-left: 69px;
  gap: 37px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-info {
  text-decoration: none;
  color: #01512c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* main */
.main-selection {
  background-image: radial-gradient(
      905.96% 328.18% at 54% 27.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(255, 255, 255, 0.803) 21.22%
    ),
    url("../Assets/img/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  padding-bottom: 700px;
}

img.hero-image {
  width: 209px;
  height: 178px;
}

.main-dec h1 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
}

/* profile */
.profile-visi {
  text-align: center;
  padding-bottom: 20px;
}
.profile-content {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-image: url(../Assets/img/logo\ gede.png);
  background-repeat: no-repeat;
  background-position: right;
}

.profile-title {
  width: 355px;
  height: 74px;
  margin-top: 59px;
  margin-left: 95px;
}

.profile-title h1 {
  color: #01512c;
  text-align: justify;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-dec {
  display: flex;
  text-align: left;
  width: 471px;
  height: 229px;
  margin-top: 48px;
  margin-left: 95px;
  margin-bottom: 92px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.023%;
}
.dec-image {
  width: 416px;
  height: 344px;
}

/* profile visi-misi */
.profile-misi {
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  padding-top: 45px;
}

.visiTitle {
  width: 284px;
  height: auto;
  margin: 0 auto;

  margin-bottom: 14px;
}

.visiTitle h1 {
  color: #01512c;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.023%;
}

.visi-title {
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 75px;
}
.visi-title p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titlemisi {
  width: 284px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.titlemisi h1 {
  color: #01512c;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.023%;
}

.misi-title p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.misi-title {
  display: flex;
  gap: 105px;
  justify-content: center;
  margin-bottom: 22px;
}
.misi-title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 294px;
  height: 142px;
}

.misi-title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 294px;
  height: 142px;
}

.misi-title3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 294px;
  height: 142px;
}
/* prestasi page */
.prestasi-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 89px;
}
.prestasi-images {
  width: 450px;
  height: 450px;
}

.prestasi-slide {
  margin-left: 38px;
  margin-top: 86px;
}
.prestasi-title {
  width: 629px;
  height: 129.885px;
}

.prestasi-title h1 {
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.prestasi-dec {
  width: 581px;
  height: 154px;
}

.prestasi-dec ul li {
  color: var(--gray-1, #333);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* akademik */
.akademik-section {
  width: 100%;
  height: 764px;
  display: flex;
}
.akademik-content {
  background-image: url(../Assets/img/artwork.png);
  background-position: right;
  background-repeat: no-repeat;
}

.title-akademik {
  display: flex;
  width: 532px;
  height: 433px;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 77px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title-akademik h1 {
  color: #02542d;
  text-align: center;
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 54px;
}

.title-akademik p {
  margin-top: 46px;
  padding-bottom: 170px;
}

.fasilitas-content {
  position: relative;
}

.fasilitas-content .title-fasilitas {
  position: absolute;
  top: 1100px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 700px;
}

.underline-centered1 {
  width: 498px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #ffffff;
}

/* AKTIFITAS */
.aktifitas {
  padding: 50px 128px;
}
.aktifitas h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #01512c;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
