@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* navbar */
.a {
  font-size: 100px;
  color: #02542d;
}
.container-fluid {
  background-color: white;
}

.navbar {
  width: fullscreen;
  height: 98px;
  font-weight: bold;
}

.navbar-brand {
  color: #02542d;
  font-weight: bold;
}

.navbar-brand .logo-image {
  margin-left: 71px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand .jombang-text {
  color: #02542d;
  margin-right: 350px;
}
.navbar-brand {
  padding-right: 30px;
}

.navbar-nav {
  gap: 30px;
}

.btn {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 250px;
  border-radius: 100px;
}

.btn-custom {
  background-color: #02542d;
  color: white;
}

/* main */
.main-selection {
  background-image: radial-gradient(
      905.96% 328.18% at 54% 27.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(255, 255, 255, 0.803) 21.22%
    ),
    url("../Assets/img/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  padding-bottom: 700px;
}

img.hero-image {
  position: relative;
  width: 209px;
  height: 178px;
}

.main-dec h1 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
}

/* profile */

.profile-container {
  background: linear-gradient(90deg, #fff 39.43%, rgba(255, 255, 255, 0) 132%),
    url(../Assets/img/profile.png);

  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
}

.profile-visi {
  text-align: center;
  padding-bottom: 39px;
}
.profile-visi h2 {
  padding-top: 45px;
  color: #02542d;
  font-size: 25px;
  font-family: Inter;
  font-weight: 700;
}

.profile-visi p {
  display: inline-block;
  text-align: left;
  color: #000;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
}
